<p>listado works!</p>



<ul>
    <li *ngFor="let heroe of heroes; let i = index">
        {{heroe}}
    </li>

    <div *ngIf="borrado; else noBorrado">
        El borrado es : {{heroeBorrado}}
    </div>

    <ng-template #noBorrado>
        <span>No se ha borrado nada</span>
    </ng-template>

    <button (click)="borrarHeroe()">Borrar ultimo</button>
</ul>